/* layout */
#wrap {}
#header {height: 89px; border-bottom: 1px solid #efefef;}
#banner {height: 550px; background: url(../img/banner-bg1.jpg) no-repeat center top;}
#sbanner {border-top: 1px solid #efefef;}
#select {background-color: #1d7abd;}
#infor {}
#ad {background: url(../img/img1.jpg) no-repeat; background-size: 100%;}
#blog {}
#site {background-color: #f8f9fa;}
#footer {}

/* container */
.container {width: 1180px; height: inherit;/* background-color:rgba(0,0,0,0.5); */margin:0 auto;  }

/* header */
.header {overflow: hidden;}
.header h1 {float: left; padding-top: 24px; padding-right: 30px;}
.header a:hover {color: #1d7abd;}
.header .gnd {float: left;}
.header .gnd li {display: inline;}
.header .gnd li a {font-size: 18px; padding: 32px 12px; display: inline-block;}
.header .quick {float: right;}
.header .quick li {position: relative; display: inline; }
.header .quick li:before {content: ''; width: 1px; height: 10px; background-color: #ccc; position: absolute; right: 0; top: 2px;}
/* .header .quick li:last-child:before {width: 0; height: 0;} */
.header .quick li.last:before {width: 0; height: 0;}
.header .quick li a {font-size: 14px; padding: 34px 11px 34px 8px; display: inline-block; color: #676767;}

/* banner */
.banner {padding: 115px 50px;}
.banner h2 {font-size: 46px; line-height: 55px;}
.banner p {font-size: 18px; padding: 20px 0; color: #666; font-weight: 300;}
.banner em {font-size: 18px; color: #f66b05; display: block;}
.banner .view {font-size: 16px; display: inline-block; margin-top: 50px; border: 1px solid #333; background-color: #fff;
            padding: 12px 42px; transition: all 0.3s ease;}
.banner .view:hover {background-color: #000; color: #fff;}

/* sbanner */
.sbanner {overflow: hidden;  padding: 70px 0;}
.sbanner>div {float: left; width: 25%; }
.sbanner>div h4 {font-size: 24px; padding-bottom: 4px;}
.sbanner>div h4 i {padding-left: 8px;}
.sbanner>div h4:hover {text-decoration: underline;}
.sbanner>div p {font-size: 16px; color: #676767;}

/* select */
.select {overflow: hidden; padding: 70px 0;}
.select h3 {float: left; width: 25%; font-size: 40px; color: #fff;}
.select>div {float: left; width: 17.5%; background-color: #2886ca; margin-left: 1.5%; padding: 3%; height: 300px;}
.select>div.simg1 {background: #2886ca url(../img/select-bg1.png) no-repeat 30px 230px; background-size: 85px;}
.select>div.simg2 {background: #2886ca url(../img/select-bg2.png) no-repeat 30px 230px; background-size: 95px;}
.select>div.simg3 {background: #2886ca url(../img/select-bg3.png) no-repeat 30px 230px; background-size: 100px;}
.select>div.simg1 {background: #2886ca url(../img/select-bg1-i8.png) no-repeat 30px 230px;}
.select>div.simg2 {background: #2886ca url(../img/select-bg2-i8.png) no-repeat 30px 230px;}
.select>div.simg3 {background: #2886ca url(../img/select-bg3-i8.png) no-repeat 30px 230px;}
.select>div h4 {font-size: 18px; color: #fff; padding-bottom: 20px;}
.select>div p {font-size: 15px; color: #fff;}

/* infor */
.infor {padding: 70px 0; text-align: center;}
.infor h3 {font-size: 40px; padding-bottom: 20px; font-weight: 300;}
.infor p {color: #666; font-size: 18px; padding-bottom: 50px;}
.infor p strong:hover {border-bottom: 1px solid #333;}
.infor .infor-box {overflow: hidden; text-align: left; padding: 0 210px;}
.infor .infor-box h4 {font-size: 16px; color: #333; padding-bottom: 5px;}
.infor .infor-box h4 i {color: #0081c8;}
.infor .infor-box .in-left {float: left; width: 50%; border-right: 1px solid #ccc; box-sizing: border-box;}
.infor .infor-box .in-left em {font-size: 24px; color: #333; width: 170px; display: inline-block;}
.infor .infor-box .in-left strong {font-size: 30px; color: #0081c8;}
.infor .infor-box .in-right {float: left; width: 50%; padding-left: 50px; box-sizing: border-box;}
.infor .infor-box .in-right li {font-size: 16px; color: #666;}

/* ad */
.ad {text-align: center; padding: 70px; }
.ad h3 { font-size: 40px; color: #fff; font-weight: 300; padding-bottom: 30px;}
.ad p {font-size: 16px; color: #fff; font-weight: 300; padding-bottom:40px;}
.ad .view {font-size: 16px; display: inline-block; margin-top: 1px; border:1px solid #fff; 
 padding: 12px 30px; color: #fff;}
 .ad .view:hover {background-color: #fff; color: #000;}

/* blog */
.blog {padding: 70px 0;}
.blog h3 {width: 25%; font-size: 30px; color: #000; margin-bottom: 50px; }
.blog .blog-wrap {overflow: hidden; margin-bottom: 80px;}
.blog .blog-wrap>div {float: left; width: 23.5%; margin-right: 2%;}
/* .blog .blog-wrap>div:last-child {margin-right: 0;} */
.blog .blog-wrap>div.last {margin-right: 0;}
.blog .blog-wrap>div h4 {font-size: 22px; border-top: 2px solid #6F6F6F; padding: 20px 0 15px; 
                    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.blog .blog-wrap>div p {font-size: 16px; color: #7e7e7e; margin-bottom: 40px; height: 93px; 
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 4; 
-webkit-box-orient: vertical;}
.blog .blog-wrap>div figure img {width: 100%;}
.blog .notice-wrap {overflow: hidden;}
.blog .notice-wrap .nw-left {float: left; width: 700px; height: 257px; }
.blog .notice-wrap .nw-left h3 {width: 100%; font-size: 35px; color: #000; padding: 5px 0 ; border-bottom: 2px solid #6f6f6f; margin-bottom: 0;}
.blog .notice-wrap .nw-left h3 a {font-size: 18px; color: #999; padding-left: 15px; }
.blog .notice-wrap .nw-left h3 a i {padding-left: 5px; }
.blog .notice-wrap .nw-left ul li {border-bottom: 0.3px solid #c2c2c2; overflow: hidden; padding: 20px 0;}
.blog .notice-wrap .nw-left ul li a {float: left;}
.blog .notice-wrap .nw-left ul li span {float: right;}
.blog .notice-wrap .nw-right {float: right; width: 375px; border-bottom: 0.3px solid #c2c2c2;}
.blog .notice-wrap .nw-right h3 {width: 100%; font-size: 35px; border-bottom: 2px solid #6f6f6f; padding: 5px 0 ; display: inline-block; margin-bottom:0;}
.blog .notice-wrap .nw-right li {padding: 20px 0;}
.blog .notice-wrap .nw-right li span {background-color: #666; color: #fff; margin-right: 20px; padding: 5px 10px;}

/* site */
.site {overflow: hidden; padding: 70px 0; }
.site>div {width: 16.666%; float: left;}
.site>div h4 {font-size: 16px; font-weight: bold; padding-bottom: 20px; }
.site>div li {padding-bottom: 5px;}
.site>div li a {font-size: 15px; color: #666;}
.site>div.aa {width: 33.22222%;}
.site>div.aa ul {overflow: hidden;} 
.site>div.aa ul li {float: left; width: 50%;} 

/* footer */
.footer {position: relative; padding: 50px 0; .background:#f00;}
.footer .policy {padding-bottom: 30px; }
.footer .policy li {position: relative; display: inline-block; padding:0 20px 0 10px; }
.footer .policy li:before {content:''; width: 1px; height: 18px; background-color: #ccc; position: absolute; right: 0; top: 3px;}
.footer .policy li a {font-size: 16px;}
.footer .policy li:first-child {padding-left: 0;}
/* .footer .policy li:last-child:before {width: 0; height: 0;}
.footer .policy li:last-child a {color: #1d7abd;} */
.footer .policy li.last:before {width: 0; height: 0;}
.footer .policy li.last a {color: #1d7abd;}
.footer .address {color: #666; font-size: 14px;}
.footer .address li {padding-bottom: 5px;}
.footer .address span {padding-right: 20px; }
.footer .address p {padding: 20px 0;}
.footer .icon {overflow: hidden;}
.footer .icon li {float: left; padding-right: 20px;}
.footer .icon li:last-child {padding-top: 3px;}
.footer .family {position: absolute; right: 0; top: 50px;}
.footer .family select {background-color: #fff; width: 145px; height: 44px; padding-left: 5px; margin-right: 5px;}
.footer .family button {padding: 10px 15px 11px; border: 1px solid #cfd5da; font-size: 14px; color: #707070;}
.ie8 .footer .family button {vertical-align: 15px;}
.footer .w3c {position: absolute; right: 0; top: 110px; text-align: right;}



/* sub page layout */
#sub-banner {overflow: hidden; background: url(../img/server-bg1.png) repeat-x center top;}
#sub-banner.mail-bg {background: url(../img/mail-bg1.png) repeat-x center top;}
#sub-banner.service-bg {background: url(../img/service-bg1.png) repeat-x center top;}
#sub-banner.webhosting-bg {background: url(../img/webhosting-bg1.png) repeat-x center top;}
#product-table {}

/* sub-banner */
.sub-banner {overflow: hidden; padding: 80px 0;}
.sub-banner .sb-left {float: left;  width: 760px;}
.sub-banner .sb-left h2 {font-size: 40px; color: #fff;}
.sub-banner .sb-left p {font-size: 16px; color: #fff;}
.sub-banner .sb-right {float: right; width: 410px; padding-top: 15px;}
.sub-banner .sb-right li {display: inline; margin-left: 10px;}
.sub-banner .sb-right  li a {display: inline-block; color: #b2ddf9; font-size: 18px; border: 2px solid #b2ddf9; 
border-radius: 50px; width: 65px; height: 50px; padding-left: 55px; line-height: 50px; }
.sub-banner .sb-right  li a:hover {color: #fff; border-color: #fff;}
.sub-banner .sb-right li a.icon1 {background: url(../img/server-icon1.png) no-repeat 15px 12px;}
.sub-banner .sb-right li a.icon2 {background: url(../img/server-icon2.png) no-repeat 15px 12px;}
.sub-banner .sb-right li a.icon3 {background: url(../img/server-icon3.png) no-repeat 15px 12px;}


/* product-table */
.product-table { padding: 80px 0;}
.product-table .more {text-align: center; padding:20px 0 40px; font-size: 14px;}
.product-table .list {}
.product-table .list li {position: relative;font-size: 14px; line-height: 28px; padding-left: 10px;}
.product-table .list li:before {content:''; width: 3px; height: 3px; background-color: #333; position: absolute;left: 0;top: 12px; border-radius: 50%;}
.product-table .list .help {font-size: 18px;}
/* table-title1 */
.table-title1 {position: relative; padding-bottom: 20px;}
.table-title1 li {display: inline;}
.table-title1 li a {font-size: 18px; color: #999; padding: 0 10px;}
.table-title1 li.active a {color: #333;}
.table-title1 .detail {position: absolute; right: 0; top: 0; font-size: 18px; color: #1d7abd;}

/* table-style1 
.table-style1 { }
.table-style1 table {border-top: 2px solid #6f6f6f; border-bottom: 1px solid #9a9a9a;}
.table-style1 table thead th {border-bottom: 1px solid  #9a9a9a; padding: 20px 0; border-right: 1px solid #e4e4e4;  font-size: 16px;	}
.table-style1 table thead th:first-child{text-align: left; padding-left:30px;}
.table-style1 table thead th:last-child{border-right:0;}
.table-style1 table tr{font: 18px;}
.table-style1 table tr td{padding:20px 30px; border-bottom: 0.2px solid #e4e4e4; border-right: 1px solid #e4e4e4;}
.table-style1 table tr td p{padding: 0; margin: 0}
.table-style1 table tr td p img{margin-right: 5px; display: inline-block; margin-bottom: -6px}
.table-style1 table tr td .event{ background-color: #ff9900; font-size: 14px;color:#fff; padding:3px 6px; }
.table-style1 table tr td ul{padding-left: 30px ;}
.table-style1 table tr td ul li{text-indent: -38px; color:#666;}
.table-style1 table tr td ul li .title{font-weight: bold;}
.table-style1 table tr td:first-child{font-size: 28px;}
.table-style1 table tr td:last-child{font-size: 24px;  border-right:0;}
.table-style1 table tr td span {font-size: 16px;}
.table-style1 table tr td a {background-color: #34a0ef; font-size: 16px;color:#fff; padding: 10px 40px}
.table-style1 table tr td a:hover {background-color: #39b0ef;}
.container1{width: 100%;	}
.container1 .ad{ font-size: 16px; text-align: center; display: block; padding: 20px 0}
.container1 ul li{font-size: 15px; color:#666; line-height: 25px}
.container1 ul li a {font-size: 18px; color:#000;	} 
.container1 ul li img{width: 5px;	height: 5px; padding-right: 5px}*/

/*table-style*/
/* table-style1 */
.table-style1 {  }
.table-style1 table {border-top: 2px solid #6f6f6f; border-bottom: 1px solid #9a9a9a; font-size: 16px; text-align: center; color:#666;}
.table-style1 table thead th { background-color: #f9fafc; padding: 20px 30px ; border-bottom: 1px solid #ccc; border-right: 1px solid #e4e4e4;  }
.table-style1 table thead th:last-child {border-right: 0;}
.table-style1 table tbody td {  padding:  20px 30px; border-bottom: 1px solid #e4e4e4; border-right: 1px solid #e4e4e4;   }
.table-style1 table tbody td:last-child {border-right: 0;}

.table-style1 .left {text-align: left;}
.table-style1 .center {text-align: center;}
.table-style1 .black {color:#000;}
.table-style1 .hot {background-color:#ff9900; color:#fff; font-size: 14px; padding: 2px 5px 0 10px; display: inline-block; vertical-align: 4px; line-height: 20px;}
.table-style1 .large {font-size: 28px; line-height:38px;}
.table-style1 .small {font-size: 12px;}
.table-style1 .view {display: inline-block; padding: 5px 45px; color: #fff; background-color: #3090d6; font-size: 16px;}
/* table-style2 */
.table-style2 {}

/* table-style3 */
.table-style3 {}

/*gabia site
.sub {overflow: hidden; padding: 85px 300px; background-color: #1d7abd ;	margin-top:100px }
.sub h3 {float: left; font-size: 40px; color:#fff; width: 400px; }
.sub > div {float: left; color:#fff; background-color: #2886ca; padding-left:35px; margin-left: 20px;	 }
.sub > div.sel-1 {float: left;width: 360px; height: 350px;}
.sub > div.sel-1 img{padding : 40px 0;}
.sub > div.sel-1  p {float: left;font-size: 15px;  color:#d2f0ff;}
.sub > div.sel-1  h4{ margin-bottom: 10px;}
.sub > div.sel-1  h4 a{ font-size: 18px;color:#fff;}
.sub > div.sel-2 {float: left;width: 360px; height: 350px;	}
.sub > div.sel-2 img{padding:40px 0;}
.sub > div.sel-2  p {float: left; font-size: 15px; color:#d2f0ff;}
.sub > div.sel-2 h4 a{font-size: 18px;color:#fff; }
.sub > div.sel-2 h4{margin-bottom: 10px;	}*/

/*infor
.infor2 {padding: 70px 0; text-align: center;}
.infor2 h3 {font-size: 40px; padding-bottom: 50px; font-weight: 300; }
.infor2 a { font-size: 18px; border: 1px solid #333; padding:10px 40px; margin:100px }
.infor2 a:hover { background-color: #333; color:#fff; }
.infor2 .infor-box2 {overflow: hidden; text-align: left; padding-top: 80px ;}
.infor2 .infor-box2 li{padding-top: 20px;	}
.infor2 .infor-box2 .in-left {float: left; width: 50%;  box-sizing: border-box; padding-left: 100px}
.infor2 .infor-box2 .in-left h4 {float: left; background: #1d7abd; border-radius: 50%;width: 120px;	height: 80px; font-size: 15px;color:#fff;	text-align: center; padding-top:35px; margin-right: 30px;}
.infor2 .infor-box2 .in-left em {font-size: 15px; width: 160px; display: inline-block;}
.infor2 .infor-box2 .in-left strong {font-size: 18px; color: #0081c8;}
.infor2 .infor-box2 .in-right {float:left; width: 50%;  box-sizing: border-box;}
.infor2 .infor-box2 .in-right h4 {float: left; background: #1d7abd; border-radius: 50%;width: 120px;	height: 90px; font-size: 15px;color:#fff;	text-align: center;padding-top:25px; margin-right: 30px;}
.infor2 .infor-box2 .in-right em {font-size: 15px;  width: 160px; display: inli*/


